<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Prism CSS of OKAIDIA (Markup, CSS, JS) -->
    <link rel="stylesheet" href="../public/prism.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/style.css">
    <title>Just Testing</title>
</head>
<body>
    <!-- Container -->
    <div class="code-snippet">
        <!-- Using 'language-javascript' class for parsing highlighted html from string  -->
        <pre><code class="code language-javascript"><%- htmlStr %></code></pre>
    </div>
</body>
</html>